<div class="data-scrollbar" data-scroll="1">
    <nav class="iq-sidebar-menu">
        <ul id="iq-sidebar-toggle" class="side-menu">

            <!-- Dashboard -->
            <li class="sidebar-layout">
                <a href="#" class="svg-icon">
                    <i class="fa-solid fa-house"></i>
                    <span class="ml-2">Dashboard</span>
                    <p class="badge badge-pill badge-primary mb-0 w-10">6</p>
                </a>
            </li>

            <!-- Pages -->
            <li class="px-3 pt-3 pb-2">
                <span class="text-uppercase small font-weight-bold">Pages</span>
            </li>

            <!-- CRUD -->
            <li class="sidebar-layout">
                <a href="#app6" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                    <i class="fa-solid fa-database"></i>
                    <span class="ml-2">CRUD</span>
                    <i class="fa-solid fa-chevron-right iq-arrow-right arrow-active"></i>
                </a>

                <ul id="app6" class="submenu collapse" data-parent="#iq-sidebar-toggle">

                    <!-- Marshrutlar -->
                    <li class="sidebar-layout">
                        <a href="{% url 'route-list' %}" class="svg-icon">
                            <i class="fa-solid fa-route"></i>
                            <span class="ml-2">Marshrutlar</span>
                        </a>
                    </li>

                    <!-- Transportlar -->
                    <li class="sidebar-layout">
                        <a href="{% url 'vehicle-list' %}" class="svg-icon">
                            <i class="fa-solid fa-bus"></i>
                            <span class="ml-2">Transportlar</span>
                        </a>
                    </li>

                    <!-- Reyslar -->
                    <li class="sidebar-layout">
                        <a href="{% url 'trip-list' %}" class="svg-icon">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <span class="ml-2">Reyslar</span>
                        </a>
                    </li>

                </ul>
            </li>

            <!-- Coming Soon -->
            <li class="sidebar-layout">
                <a href="#" class="svg-icon">
                    <i class="fa-solid fa-hourglass-half"></i>
                    <span class="ml-2">Coming Soon</span>
                </a>
            </li>

            <!-- Maintenance -->
            <li class="sidebar-layout">
                <a href="#" class="svg-icon">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <span class="ml-2">Maintenance</span>
                </a>
            </li>

            <!-- User Actions -->
            <li class="px-3 pt-3 pb-2">
                <span class="text-uppercase small font-weight-bold">User Actions</span>
            </li>

            <!-- User Profile -->
            <li class="sidebar-layout">
                <a href="#" class="svg-icon">
                    <i class="fa-solid fa-user"></i>
                    <span class="ml-2">User Profile</span>
                </a>
            </li>

            <!-- Logout -->
            <li class="sidebar-layout">
                <a href="#" class="svg-icon" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="ml-2">Logout</span>
                </a>
            </li>

        </ul>
    </nav>

    <div class="pt-5 pb-5"></div>
</div>
